<% provide(:title, 'All Users') %>
<!DOCTYPE html>
<html>
  <head>
    <title>Users | Task App</title>
    <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="z1qNzIHMUFW67suyvmZY0Yycb5c7yW/mjRNPrBvVuO7yVlYzoi2/VeP5fB30+RLHiQ3aylkcPib5W7IaXAx6UQ==" />
    <link rel="stylesheet" media="all" href="/assets/application-0e5d7c8cc18bd52eeabc1c5477d3b494997c763fe01630943b441776e7ad493d.css" data-turbolinks-track="reload" />
    <script src="/assets/application-b448791b18a9452cee489df10d734ac2ccdefa3cdd5db733d63988d121bd2408.js" data-turbolinks-track="reload"></script>
    <!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
  </script>
<![endif]-->
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-default" id="header">
  <div class="container">
    <a id="logo" href="/">Task App</a>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><a class="header-list" href="/">トップ</a></li>
            <li><a class="header-list" href="/users">利用者一覧</a></li>
          <li><a class="header-list" href="/users/1/tasks/new">タスク作成</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle header-list" data-toggle="dropdown" id="dropdown-title">
              管理者 <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li class="dropdown-header">ユーザー</li>
              <li><a href="/users/1">プロフィール</a></li>
              <li><a href="/users/1/edit">設定</a></li>
              <li class="dropdown-header">タスク</li>
              <li><a href="/users/1/tasks">タスク一覧</a></li>
              
              <li class="divider"></li>
              <li><a rel="nofollow" data-method="delete" href="/logout">ログアウト</a></li>
            </ul>
          </li>
      </ul>
    </nav>
  </div>
</header>

    <div class="container">
      
<h1>利用者一覧</h1>

<div class="col-md-10 col-md-offset-1">
  <ul class="pagination"><li class="prev previous_page "><a rel="prev" href="/users?page=7">前</a></li> <li><a href="/users?page=1">1</a></li> <li><a href="/users?page=2">2</a></li> <li><a href="/users?page=3">3</a></li> <li><a href="/users?page=4">4</a></li> <li><a href="/users?page=5">5</a></li> <li><a href="/users?page=6">6</a></li> <li><a rel="prev" href="/users?page=7">7</a></li> <li class="active"><a href="/users?page=8">8</a></li> <li><a rel="next" href="/users?page=9">9</a></li> <li class="next next_page "><a rel="next" href="/users?page=9">次</a></li></ul></div>
  <table class="table table-condensed table-hover" id="table-users">
    <thead>
      <tr>
        <th>名前</th>
        </tr>
      </thead>
  
      <tbody>
          <tr>
            <td>
              <a href="/users/170">suzuki</a>
                <span class="label label-success label-user-division">一般</span>
            </td>
            <td>
                <a data-confirm="suzukiを削除します。よろしいですか？" class="btn btn-danger btn-sm pull-right" rel="nofollow" data-method="delete" href="/users/170">削除</a>
            </td>
          </tr>
          <tr>
            <td>
              <a href="/users/223">第一号</a>
                <span class="label label-success label-user-division">一般</span>
            </td>
            <td>
                <a data-confirm="第一号を削除します。よろしいですか？" class="btn btn-danger btn-sm pull-right" rel="nofollow" data-method="delete" href="/users/223">削除</a>
            </td>
          </tr>
          <tr>
            <td>
              <a href="/users/171">suzukii</a>
                <span class="label label-success label-user-division">一般</span>
            </td>
            <td>
                <a data-confirm="suzukiiを削除します。よろしいですか？" class="btn btn-danger btn-sm pull-right" rel="nofollow" data-method="delete" href="/users/171">削除</a>
            </td>
          </tr>
          <tr>
            <td>
              <a href="/users/172">高橋</a>
                <span class="label label-success label-user-division">一般</span>
            </td>
            <td>
                <a data-confirm="高橋を削除します。よろしいですか？" class="btn btn-danger btn-sm pull-right" rel="nofollow" data-method="delete" href="/users/172">削除</a>
            </td>
          </tr>
          <tr>
            <td>
              <a href="/users/173">井口貴幸</a>
                <span class="label label-success label-user-division">一般</span>
            </td>
            <td>
                <a data-confirm="井口貴幸を削除します。よろしいですか？" class="btn btn-danger btn-sm pull-right" rel="nofollow" data-method="delete" href="/users/173">削除</a>
            </td>
          </tr>
          <tr>
            <td>
              <a href="/users/174">野村</a>
                <span class="label label-success label-user-division">一般</span>
            </td>
            <td>
                <a data-confirm="野村を削除します。よろしいですか？" class="btn btn-danger btn-sm pull-right" rel="nofollow" data-method="delete" href="/users/174">削除</a>
            </td>
          </tr>
          <tr>
            <td>
              <a href="/users/175">一般</a>
                <span class="label label-success label-user-division">一般</span>
            </td>
            <td>
                <a data-confirm="一般を削除します。よろしいですか？" class="btn btn-danger btn-sm pull-right" rel="nofollow" data-method="delete" href="/users/175">削除</a>
            </td>
          </tr>
          <tr>
            <td>
              <a href="/users/176">花輪誠太郎</a>
                <span class="label label-success label-user-division">一般</span>
            </td>
            <td>
                <a data-confirm="花輪誠太郎を削除します。よろしいですか？" class="btn btn-danger btn-sm pull-right" rel="nofollow" data-method="delete" href="/users/176">削除</a>
            </td>
          </tr>
          <tr>
            <td>
              <a href="/users/177">加賀谷　朋広</a>
                <span class="label label-success label-user-division">一般</span>
            </td>
            <td>
                <a data-confirm="加賀谷　朋広を削除します。よろしいですか？" class="btn btn-danger btn-sm pull-right" rel="nofollow" data-method="delete" href="/users/177">削除</a>
            </td>
          </tr>
          <tr>
            <td>
              <a href="/users/179">tester</a>
                <span class="label label-success label-user-division">一般</span>
            </td>
            <td>
                <a data-confirm="testerを削除します。よろしいですか？" class="btn btn-danger btn-sm pull-right" rel="nofollow" data-method="delete" href="/users/179">削除</a>
            </td>
          </tr>
          <tr>
            <td>
              <a href="/users/178">永野高博</a>
                <span class="label label-success label-user-division">一般</span>
            </td>
            <td>
                <a data-confirm="永野高博を削除します。よろしいですか？" class="btn btn-danger btn-sm pull-right" rel="nofollow" data-method="delete" href="/users/178">削除</a>
            </td>
          </tr>
          <tr>
            <td>
              <a href="/users/180">第一号</a>
                <span class="label label-success label-user-division">一般</span>
            </td>
            <td>
                <a data-confirm="第一号を削除します。よろしいですか？" class="btn btn-danger btn-sm pull-right" rel="nofollow" data-method="delete" href="/users/180">削除</a>
            </td>
          </tr>
          <tr>
            <td>
              <a href="/users/213">しろ</a>
                <span class="label label-success label-user-division">一般</span>
            </td>
            <td>
                <a data-confirm="しろを削除します。よろしいですか？" class="btn btn-danger btn-sm pull-right" rel="nofollow" data-method="delete" href="/users/213">削除</a>
            </td>
          </tr>
          <tr>
            <td>
              <a href="/users/214">oredayo</a>
                <span class="label label-success label-user-division">一般</span>
            </td>
            <td>
                <a data-confirm="oredayoを削除します。よろしいですか？" class="btn btn-danger btn-sm pull-right" rel="nofollow" data-method="delete" href="/users/214">削除</a>
            </td>
          </tr>
          <tr>
            <td>
              <a href="/users/215">山田太郎</a>
                <span class="label label-success label-user-division">一般</span>
            </td>
            <td>
                <a data-confirm="山田太郎を削除します。よろしいですか？" class="btn btn-danger btn-sm pull-right" rel="nofollow" data-method="delete" href="/users/215">削除</a>
            </td>
          </tr>
          <tr>
            <td>
              <a href="/users/216">やのまさあき</a>
                <span class="label label-success label-user-division">一般</span>
            </td>
            <td>
                <a data-confirm="やのまさあきを削除します。よろしいですか？" class="btn btn-danger btn-sm pull-right" rel="nofollow" data-method="delete" href="/users/216">削除</a>
            </td>
          </tr>
          <tr>
            <td>
              <a href="/users/217">second user</a>
                <span class="label label-success label-user-division">一般</span>
            </td>
            <td>
                <a data-confirm="second userを削除します。よろしいですか？" class="btn btn-danger btn-sm pull-right" rel="nofollow" data-method="delete" href="/users/217">削除</a>
            </td>
          </tr>
          <tr>
            <td>
              <a href="/users/218">き</a>
                <span class="label label-success label-user-division">一般</span>
            </td>
            <td>
                <a data-confirm="きを削除します。よろしいですか？" class="btn btn-danger btn-sm pull-right" rel="nofollow" data-method="delete" href="/users/218">削除</a>
            </td>
          </tr>
          <tr>
            <td>
              <a href="/users/219">小野 喬</a>
                <span class="label label-success label-user-division">一般</span>
            </td>
            <td>
                <a data-confirm="小野 喬を削除します。よろしいですか？" class="btn btn-danger btn-sm pull-right" rel="nofollow" data-method="delete" href="/users/219">削除</a>
            </td>
          </tr>
          <tr>
            <td>
              <a href="/users/224">iwaya</a>
                <span class="label label-success label-user-division">一般</span>
            </td>
            <td>
                <a data-confirm="iwayaを削除します。よろしいですか？" class="btn btn-danger btn-sm pull-right" rel="nofollow" data-method="delete" href="/users/224">削除</a>
            </td>
          </tr>
      </tbody>
    </table>
    ><ul class="pagination"><li class="prev previous_page "><a rel="prev" href="/users?page=7">前</a></li> <li><a href="/users?page=1">1</a></li> <li><a href="/users?page=2">2</a></li> <li><a href="/users?page=3">3</a></li> <li><a href="/users?page=4">4</a></li> <li><a href="/users?page=5">5</a></li> <li><a href="/users?page=6">6</a></li> <li><a rel="prev" href="/users?page=7">7</a></li> <li class="active"><a href="/users?page=8">8</a></li> <li><a rel="next" href="/users?page=9">9</a></li> <li class="next next_page "><a rel="next" href="/users?page=9">次</a></li></ul></div>
  </div>
</div>

      
    </div>
  </body>
</html>

