<% provide(:title, @user.name) %>
<!DOCTYPE html>
<html>
  <head>
    <title>管理者 | Task App</title>
    <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="6vHitPqYTyYVVo0zFqgwI/TafEtEdR8Q8jyMTsjjd2elG8+MlbEw69qOO5ncX4bK4j2WrJ8NJa2ugjpPhMOUzA==" />
    <link rel="stylesheet" media="all" href="/assets/application-0e5d7c8cc18bd52eeabc1c5477d3b494997c763fe01630943b441776e7ad493d.css" data-turbolinks-track="reload" />
    <script src="/assets/application-b448791b18a9452cee489df10d734ac2ccdefa3cdd5db733d63988d121bd2408.js" data-turbolinks-track="reload"></script>
    <!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
  </script>
<![endif]-->
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-default" id="header">
  <div class="container">
    <a id="logo" href="/">Task App</a>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><a class="header-list" href="/">トップ</a></li>
            <li><%= link_to "利用者一覧", root_path, class: "header-list" %></li>
          <li><a class="header-list" href="/users/1/tasks/new">タスク作成</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle header-list" data-toggle="dropdown" id="dropdown-title">
              管理者 <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li class="dropdown-header">ユーザー</li>
              <li><a href="/users/1">プロフィール</a></li>
              <li><a href="/users/1/edit">設定</a></li>
              <li class="dropdown-header">タスク</li>
              <li><a href="/users/1/tasks">タスク一覧</a></li>
              
              <li class="divider"></li>
              <li><a rel="nofollow" data-method="delete" href="/logout">ログアウト</a></li>
            </ul>
          </li>
      </ul>
    </nav>
  </div>
</header>

    <div class="container">
        <div class="alert alert-success">ログインしました。</div>
      
<h1>プロフィール</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <table class="table table-bordered" id="table-user">
      <tr>
        <th class="active col-md-3">ID</th>
        <td class="col-md-9">1</td>
      </tr>
      <tr>
        <th class="active">名前</th>
        <td>管理者</td>
      </tr>
      <tr>
        <th class="active">メールアドレス</th>
        <td>sample@email.com</td>
      </tr>
      <tr>
        <th class="active">作成日</th>
        <td>2019/07/08 23:21</td>
      </tr>
    </table>
  </div>    
</div>

      
    </div>
  </body>
</html>
