@import "bootstrap-sprockets";
@import "bootstrap";

/* 共通 */

body {
  padding-top: 60px;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333333;
    background-color: #fff;
}
.container {
    width: 1170px;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}
/*　管理者　*/

.alerlt-success {
    color: #3c763d;
    background-color: #dff0d8;
    border: 1px solid transparent;
    border-radius: 4px;
}
* {
    box-sizing: border-box;
}
/*　管理者　ヘッダー　*/


article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

* {
    box-sizing: border-box;
}


#top-main {
    background-color: rgba(255,255,255,0);
}

#top-main-title {
    font-style: italic;
    font-weight: bold;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}
.jumbotron {
 background-color: rgba(255,255,255,0); 
}

.jumbotron h1, .jumbotron .h1 {
    color: inherit;
}


/* タイポグラフィ */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  margin-top: 20px;
  font-family: inherit;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}
h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}


h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 20px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 500;
    color: inherit;
}

h1 {
    margin: 0.67em 0;
}

* {
    box-sizing: border-box;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: inherit;
}

* {
    box-sizing: border-box;
}

h1 {
    display: block;
    
}
a {
    color: #337ab7;
    text-decoration: none;
}
a {
    background-color: transparent;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  background-color: #ffffff;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}
.row:before, .row:after {
    display: table;
    content: " ";
}

*:before, *:after {
    box-sizing: border-box;
}

.row:after {
    clear: both;
}
.col-md-6 {
    width: 50%;
}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

* {
    box-sizing: border-box;
}

/* ヘッダー */

#header {
  　position: fixed;
    background-color: #0000ff;
}
.navbar-default {
    border-color: #e7e7e7;
    background-color: blue !important;
}

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  　background-color: #0000ff !important;
}
.navbar {
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

header, hgroup, mein, menu, nav, section, summary {
    display: block;
}

* {
    box-sizing: border-box;
}

.navbar-fixed-top, .navbar-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}

.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
}
.nav>li>a {
    position: right;
    display: block;
    padding: 10px 15px;
    background-color: #0000ff;
}
li .header-list {
    color: #fff !important;
    font-weight: bold;
}


a {
    color: #337ab7;
    text-decoration: none;
}


.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    background-color: blue;
}
.nav>li>a:hover, .nav>li>a:focus {
    text-decoration: none;
}
li .header-list:hover {
    color: silver !important;
    
}
.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
    background-color: blue !important; 
    
}
li .header-list {
    color: #fff !important;
    font-weight: bold;
}
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  font-style: italic;
  text-transform: capitalize;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  color: #fff;
  background-color: blue !important;
}

#logo:hover {
  color: #silver !important;
  text-decoration: none;
}
.container {
    width:1170px;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.dropdown-toggle {
   color: #ffffff !important;
}

.dropdown-toggle:hover {
   color: #silver !important;
}
li .dropdown-header {
    background-color: rgba(200,200,200,0.5);
    font-weight: bold;
}
.dropdown-header {
    display: block;
    padding: 3px 20px;
    font-size: 12px;
    line-height: 1.428571429;
    color: #777777;
    white-space: nowrap;
}

/* デバッグウインドウ */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* エラーメッセージ */

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
